:root {
  --background-color: #f5f7ff;
  --navbar-bg: #dce4ff;
  --word-card-bg: #d3dbf5;
  --tabbed-area-bg: #d3dbf5;
  --inactive-tab-bg: #a6a6a6;
  --active-tab-bg: #6a91ff;
  --text-color: #0b1456;
  --shadow-color: #0b1456;
  transition: all 0.3s ease-in-out;
}

[data-theme="dark"] {
  --background-color: #000b26;
  --navbar-bg: #0b1456;
  --word-card-bg: #27304c;
  --tabbed-area-bg: #27304c;
  --inactive-tab-bg: #0b1456;
  --active-tab-bg: #000b26;
  --text-color: #f4f6fc;
  --shadow-color:#dc3545;
  transition: all 0.3s ease-in-out;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  padding:0;
  margin:0;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

button{
  cursor: pointer;
}